$main-text-color: rgb(200, 200, 200);
$main-text-hover-color: whitesmoke;
$shadow-color: rgba(0,0,0,0.5);
$checkbox-background_color: rgb(80, 80, 80);


.newsletter-shadow{
    width: 100vw;
    height: 100vh;
    background-color: $shadow-color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
}


.newsletter{
    z-index: 10;
    position: fixed;
    left: calc(50vw - 200px);
    top: calc(50vh - 400px);
    width: 400px;
    height: 800px;
    background-color: whitesmoke;

    .newsletter-header{
        display: flex;
        justify-content: space-between;
        background-color: green;
        h2{
            color: $main-text-color;
            margin: 5px 0 5px 10px;
        }
        label{
            width: 50px;
            height: 50px;
            
            span, span::after{
                width: 38px;
                display: inline-block;
                height: 5px;
                background-color: $main-text-color;
                position: relative;
                rotate: 45deg;
            }
            span{
                top: calc((50px - 5px)/2);
                left: calc((50px - 38px)/2);
            }
            span::after{
                rotate: 90deg;
                content: "";
                top: calc((5px - 50px)/4);
            }
        }
        label:hover{
            span, span::after{
                background-color: $main-text-hover-color;
            }
        }

        label:focus{
            span, span::after{
                background-color: $main-text-hover-color;
            }
        }
        
        
    }

    .main-header{
        text-align: center;
        margin: 20px 0 5px 0;
        font-size: 20px;
    }
    p{
        margin: 0 10px 0 10px;
        font-size: 18px;
    }

    form{
        display: flex;
        flex-direction: column;
        margin: 10px;

        label{
            margin-bottom: 5px;
            margin-top: 10px;
        }

        [name="name"] {
            border: 1px solid black;
            font-size: 15px;
            padding: 5px;
        }
        [name="email"] {
            border: 1px solid black;
            font-size: 15px;
            padding: 5px;
        }

        .checkbox-container{
            margin-top: 40px;
            background-color: $checkbox-background_color;
            padding: 20px;
            margin-bottom: 30px;

            h3{
                color: $main-text-color;
                text-align: center;
                margin-bottom: 40px;
            }

            .checkbox-list{
                display: flex;
                flex-direction: column;
                align-items: start;

                div{
                    margin-bottom: 20px;
                    label{
                        margin-left: 10px;
                        color: $main-text-color;
                        font: {
                            size: 18px;
                            weight: 900;
                        }
                    }
                    input:focus ~ label{
                        color: $main-text-hover-color;
                    }
                }
                div:hover{
                    label{
                        color: $main-text-hover-color;
                    }
                }

            }
        }

        .submit-button{
            background-color: green;
            color: $main-text-color;
            padding: {
                top: 10px;
                bottom: 10px;
            }
            font: {
                size: 20px;
                weight: bold;
            }
        }

        .submit-button:hover{
            color: $main-text-hover-color;
            background-color: darkgreen;
        }

        .submit-button:focus{
            color: $main-text-hover-color;
            background-color: darkgreen;
        }
    }
}


@media screen and (max-width: 800px) {
    .newsletter-shadow{
        width: 100%;
        height: auto;
    }

    .newsletter{
        width: 100%;
        min-height: 100vh;
        height: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow-y:scroll;
    }
}