* {
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  list-style: none;
}

*:focus-visible {
  outline: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: rgb(80, 80, 80);
}
header .header-newsletter {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  align-items: flex-start;
}
header .header-newsletter h1 {
  font-size: 35px;
}
header .header-newsletter h1 a {
  color: rgb(200, 200, 200);
}
header .header-newsletter h1 a:focus {
  color: whitesmoke;
}
header .header-newsletter h1 a:hover {
  color: whitesmoke;
}
header .header-newsletter .newsletter-search-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 350px;
  /* Dropdown button on hover & focus */
  /* The container <div> - needed to position the dropdown content */
  /* Links inside the dropdown */
  /* Change color of dropdown links on hover */
}
header .header-newsletter .newsletter-search-button .newsletter-on-click {
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
  color: rgb(200, 200, 200);
  padding: 5px;
  outline: 1px solid green;
}
header .header-newsletter .newsletter-search-button .newsletter-on-click:hover {
  color: whitesmoke;
  background-color: green;
}
header .header-newsletter .newsletter-search-button .newsletter-on-click:focus {
  color: whitesmoke;
  background-color: green;
}
header .header-newsletter .newsletter-search-button .search-show-button {
  background: none;
  border-radius: 10px;
  padding: 6px;
  cursor: pointer;
}
header .header-newsletter .newsletter-search-button .search-show-button img {
  width: 40px;
  background: none;
}
header .header-newsletter .newsletter-search-button .search-show-button:hover {
  outline: 1px solid green;
}
header .header-newsletter .newsletter-search-button .search-show-button:focus {
  outline: 1px solid green;
}
header .header-newsletter .newsletter-search-button .signin-signup {
  display: flex;
  justify-content: space-evenly;
  width: 140px;
}
header .header-newsletter .newsletter-search-button .signin-signup a {
  color: rgb(200, 200, 200);
  padding: 5px;
}
header .header-newsletter .newsletter-search-button .signin-signup a:hover {
  color: whitesmoke;
}
header .header-newsletter .newsletter-search-button .signin-signup a:focus {
  color: whitesmoke;
}
header .header-newsletter .newsletter-search-button .signin-signup .signup {
  outline: 1px solid green;
}
header .header-newsletter .newsletter-search-button .signin-signup .signup:hover {
  background-color: green;
}
header .header-newsletter .newsletter-search-button .signin-signup .signup:focus {
  background-color: green;
}
header .header-newsletter .newsletter-search-button .dropbtn {
  color: rgb(200, 200, 200);
  background-color: rgb(80, 80, 80);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
header .header-newsletter .newsletter-search-button .dropbtn:hover,
header .header-newsletter .newsletter-search-button .dropbtn:focus {
  background-color: green;
  color: whitesmoke;
}
header .header-newsletter .newsletter-search-button .dropbtn:has(+ .dropdown-content a:hover) {
  background-color: green;
  color: whitesmoke;
}
header .header-newsletter .newsletter-search-button .dropbtn:has(+ .dropdown-content a:focus) {
  background-color: green;
  color: whitesmoke;
}
header .header-newsletter .newsletter-search-button .dropbtn:has(+ .dropdown-content div:hover) {
  background-color: green;
  color: whitesmoke;
}
header .header-newsletter .newsletter-search-button .dropbtn:has(+ .dropdown-content div:focus) {
  background-color: green;
  color: whitesmoke;
}
header .header-newsletter .newsletter-search-button .dropdown {
  position: relative;
  display: inline-block;
}
header .header-newsletter .newsletter-search-button .dropdown-content {
  position: absolute;
  background-color: #5e5e5e;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header .header-newsletter .newsletter-search-button .dropdown-content a {
  color: rgb(212, 212, 212);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
header .header-newsletter .newsletter-search-button .dropdown-content div {
  color: rgb(200, 200, 200);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
header .header-newsletter .newsletter-search-button .dropdown-content a:hover {
  background-color: green;
  color: whitesmoke;
}
header .header-newsletter .newsletter-search-button .dropdown-content div:hover {
  background-color: green;
  color: whitesmoke;
}
header .header-newsletter .newsletter-search-button .dropdown-content a:focus {
  background-color: green;
  color: whitesmoke;
}
header .header-newsletter .newsletter-search-button .dropdown-content div:focus {
  background-color: green;
  color: whitesmoke;
}
header .form-container {
  position: fixed;
  width: 100%;
  height: 200px;
  background-color: rgb(80, 80, 80);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 90;
}
header .form-container .form-exit-container {
  position: fixed;
  top: 20px;
  left: 40px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(141, 141, 141);
  cursor: pointer;
}
header .form-container .form-exit-container .form-exit {
  width: 80%;
  height: 5px;
  background-color: black;
  rotate: 45deg;
}
header .form-container .form-exit-container .form-exit::after {
  content: "";
  height: 5px;
  background-color: black;
  display: block;
  rotate: 90deg;
}
header .form-container .form-exit-container:hover {
  background-color: rgb(190, 190, 190);
}
header .form-container .form-exit-container:hover .form-exit {
  background-color: rgb(40, 40, 40);
}
header .form-container .form-exit-container:hover .form-exit::after {
  background-color: rgb(40, 40, 40);
}
header .form-container .form-exit-container:focus {
  background-color: rgb(190, 190, 190);
}
header .form-container .form-exit-container:focus .form-exit {
  background-color: rgb(40, 40, 40);
}
header .form-container .form-exit-container:focus .form-exit::after {
  background-color: rgb(40, 40, 40);
}
header .form-container form {
  display: flex;
  width: 60vw;
}
header .form-container form .name-search {
  padding-left: 20px;
  max-width: none;
  height: 80px;
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: rgb(80, 80, 80);
  border-radius: 40vw 0 0 40vw;
  font-size: max(1.5vw, 22px);
  display: block;
  width: calc(60vw - 120.55px - 4px);
}
header .form-container form .name-search:focus-visible {
  border-color: rgb(163, 163, 163);
}
header .form-container form .name-search:focus-visible ~ .submit {
  border-color: rgb(163, 163, 163);
}
header .form-container form .name-search:has(+ .submit:focus) {
  border-color: rgb(163, 163, 163);
}
header .form-container form .submit {
  height: 80px;
  padding: 10px;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 0 40vw 40vw 0;
}
header .form-container form .submit:hover {
  padding: 20px;
}
header .form-container form .submit:focus {
  padding: 20px;
  border-color: rgb(163, 163, 163);
}
header .menu-item-container-container {
  display: flex;
  justify-content: center;
  position: relative;
  height: 50px;
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
header .menu-item-container-container .menu-item-container {
  position: absolute;
  width: 1000px;
  display: flex;
  animation: slide 20s linear infinite;
}
header .menu-item-container-container .menu-item-container:hover {
  animation-play-state: paused;
}
header .menu-item-container-container .menu-item-container li {
  margin-left: 16.0215384615px;
  flex-shrink: 0;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
header .menu-item-container-container .menu-item-container li a {
  color: rgb(200, 200, 200);
}
header .menu-item-container-container .menu-item-container li a:hover {
  color: whitesmoke;
}
header .menu-item-container-container .menu-item-container li a:focus {
  color: whitesmoke;
}
header .menu-item-container-container .menu-item-container:has(li a:focus) {
  animation-play-state: paused;
}

@keyframes slide {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@media screen and (max-width: 1000px) {
  header .hamburger-menu-label {
    position: fixed;
    z-index: 100;
    top: 10px;
    right: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    display: block;
  }
  header .hamburger-menu-label .hamburger-menu,
  header .hamburger-menu-label .hamburger-menu::after,
  header .hamburger-menu-label .hamburger-menu::before {
    height: 5px;
    background-color: black;
    display: block;
    position: relative;
    transition-duration: 200ms;
  }
  header .hamburger-menu-label .hamburger-menu {
    width: 80%;
    top: 12px;
    left: 10%;
  }
  header .hamburger-menu-label .hamburger-menu::before {
    content: "";
    top: -10px;
    width: 100%;
  }
  header .hamburger-menu-label .hamburger-menu::after {
    content: "";
    top: 5px;
    width: 100%;
  }
  header .hamburger-menu-label .hamburger-menu-active {
    rotate: 45deg;
  }
  header .hamburger-menu-label .hamburger-menu-active::before {
    top: 0;
    rotate: 90deg;
  }
  header .hamburger-menu-label .hamburger-menu-active::after {
    content: none;
  }
  header .hamburger-menu-label:hover .hamburger-menu::before {
    width: 50%;
  }
  header .hamburger-menu-label:hover .hamburger-menu::after {
    width: 50%;
    transform: translateX(100%);
  }
  header .hamburger-menu-label:hover .hamburger-menu-active::before {
    width: 100%;
    background-color: whitesmoke;
  }
  header .hamburger-menu-label:hover .hamburger-menu-active {
    width: 90%;
    background-color: whitesmoke;
  }
  header .hamburger-menu-label:focus .hamburger-menu::before {
    width: 50%;
  }
  header .hamburger-menu-label:focus .hamburger-menu::after {
    width: 50%;
    transform: translateX(100%);
  }
  header .hamburger-menu-label:focus .hamburger-menu-active::before {
    width: 100%;
    background-color: whitesmoke;
  }
  header .hamburger-menu-label:focus .hamburger-menu-active {
    width: 90%;
    background-color: whitesmoke;
  }
  header .menu-item-container-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    background-color: rgb(80, 80, 80);
  }
  header .menu-item-container-container .menu-item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    animation: 0;
    height: 100%;
  }
}
@media screen and (max-width: 720px) {
  header .header-newsletter {
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
  }
  header .header-newsletter nav {
    margin: 10px 0 0 10px;
  }
  header .header-newsletter .newsletter-search-button {
    width: 100%;
    justify-content: space-between;
    padding: 0 10px;
  }
  header .header-newsletter .newsletter-search-button .search-show-button {
    margin: 0 5px;
  }
  header .header-newsletter .newsletter-search-button .signin-signup {
    align-items: center;
    width: 200px;
  }
  header .header-newsletter .newsletter-search-button .signin-signup a {
    margin-bottom: 5px;
  }
  header .header-newsletter .newsletter-search-button .dropdown-content {
    right: 0;
  }
}
@media screen and (max-width: 600px) {
  header .form-container {
    padding-bottom: 20px;
    align-items: flex-end;
  }
  header .form-container form {
    width: 80vw;
  }
  header .form-container form .name-search {
    width: calc(80vw - 120.55px - 4px);
  }
}
footer {
  margin-top: 40px;
}
footer .footer-section {
  padding: 20px 0;
  background-color: rgb(80, 80, 80);
  min-height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
footer .footer-section .footer-newsletter-social-links {
  min-width: 200px;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
footer .footer-section .footer-newsletter-social-links .newsletter-on-click {
  cursor: pointer;
  margin: 30px 0;
  border: 1px solid green;
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
  color: rgb(200, 200, 200);
}
footer .footer-section .footer-newsletter-social-links .newsletter-on-click:hover {
  color: whitesmoke;
  background-color: green;
}
footer .footer-section .footer-newsletter-social-links .newsletter-on-click:focus {
  color: whitesmoke;
  background-color: green;
}
footer .footer-section .footer-newsletter-social-links h2 {
  color: rgb(200, 200, 200);
  text-align: center;
  font-size: 30px;
}
footer .footer-section .footer-newsletter-social-links h3 {
  color: rgb(200, 200, 200);
  margin-bottom: 20px;
}
footer .footer-section .footer-newsletter-social-links .footer-social-links ul {
  display: flex;
  justify-content: space-between;
}
footer .footer-section .footer-newsletter-social-links .footer-social-links ul li a {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}
footer .footer-section .footer-newsletter-social-links .footer-social-links ul li a img {
  width: 25px;
}
footer .footer-section .footer-newsletter-social-links .footer-social-links ul li a .pinterest {
  border-radius: 50%;
}
footer .footer-section .footer-newsletter-social-links .footer-social-links ul li a:hover img {
  width: 35px;
}
footer .footer-section .footer-newsletter-social-links .footer-social-links ul li a:focus img {
  width: 35px;
}
footer .footer-section .footer-link-list {
  min-width: 250px;
  margin: 0 10px;
}
footer .footer-section .footer-link-list ul {
  display: grid;
  grid-template-columns: auto auto;
}
footer .footer-section .footer-link-list ul li {
  margin: 5px;
}
footer .footer-section .footer-link-list ul li a {
  color: rgb(200, 200, 200);
  font-size: 15px;
}
footer .footer-section .footer-link-list ul li a:focus {
  color: whitesmoke;
}
footer .footer-section .footer-link-list ul li a:hover {
  color: whitesmoke;
}
footer .copyright {
  text-align: center;
  font-size: max(1.3vw, 20px);
  padding-top: 5px;
  padding-bottom: 10px;
}

.newsletter-shadow {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
}

.newsletter {
  z-index: 10;
  position: fixed;
  left: calc(50vw - 200px);
  top: calc(50vh - 400px);
  width: 400px;
  height: 800px;
  background-color: whitesmoke;
}
.newsletter .newsletter-header {
  display: flex;
  justify-content: space-between;
  background-color: green;
}
.newsletter .newsletter-header h2 {
  color: rgb(200, 200, 200);
  margin: 5px 0 5px 10px;
}
.newsletter .newsletter-header label {
  width: 50px;
  height: 50px;
}
.newsletter .newsletter-header label span,
.newsletter .newsletter-header label span::after {
  width: 38px;
  display: inline-block;
  height: 5px;
  background-color: rgb(200, 200, 200);
  position: relative;
  rotate: 45deg;
}
.newsletter .newsletter-header label span {
  top: 22.5px;
  left: 6px;
}
.newsletter .newsletter-header label span::after {
  rotate: 90deg;
  content: "";
  top: -11.25px;
}
.newsletter .newsletter-header label:hover span,
.newsletter .newsletter-header label:hover span::after {
  background-color: whitesmoke;
}
.newsletter .newsletter-header label:focus span,
.newsletter .newsletter-header label:focus span::after {
  background-color: whitesmoke;
}
.newsletter .main-header {
  text-align: center;
  margin: 20px 0 5px 0;
  font-size: 20px;
}
.newsletter p {
  margin: 0 10px 0 10px;
  font-size: 18px;
}
.newsletter .error {
  margin: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  width: 400px;
}
.newsletter .error div {
  color: red;
  font-size: 16px;
}
.newsletter .submit-ok {
  margin: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  width: 400px;
}
.newsletter .submit-ok div {
  color: green;
  font-size: 16px;
}
.newsletter form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.newsletter form label {
  margin-bottom: 5px;
  margin-top: 10px;
}
.newsletter form [name=name] {
  border: 1px solid black;
  font-size: 15px;
  padding: 5px;
}
.newsletter form [name=email] {
  border: 1px solid black;
  font-size: 15px;
  padding: 5px;
}
.newsletter form .checkbox-container {
  margin-top: 40px;
  background-color: rgb(80, 80, 80);
  padding: 20px;
  margin-bottom: 30px;
}
.newsletter form .checkbox-container h3 {
  color: rgb(200, 200, 200);
  text-align: center;
  margin-bottom: 40px;
}
.newsletter form .checkbox-container .checkbox-list {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.newsletter form .checkbox-container .checkbox-list div {
  margin-bottom: 20px;
}
.newsletter form .checkbox-container .checkbox-list div label {
  margin-left: 10px;
  color: rgb(200, 200, 200);
  font-size: 18px;
  font-weight: 900;
}
.newsletter form .checkbox-container .checkbox-list div input:focus ~ label {
  color: whitesmoke;
}
.newsletter form .checkbox-container .checkbox-list div:hover label {
  color: whitesmoke;
}
.newsletter form .submit-button {
  background-color: green;
  color: rgb(200, 200, 200);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}
.newsletter form .submit-button:hover {
  color: whitesmoke;
  background-color: darkgreen;
}
.newsletter form .submit-button:focus {
  color: whitesmoke;
  background-color: darkgreen;
}

@media screen and (max-width: 800px) {
  .newsletter-shadow {
    width: 100%;
    height: auto;
  }
  .newsletter {
    width: 100%;
    min-height: 100vh;
    height: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
  }
}
.cookie-shadow {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
}

.cookie-container {
  width: 100vw;
  height: 25vh;
  background-color: rgb(80, 80, 80);
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.cookie-container .cookie-text-container h2 {
  color: rgb(200, 200, 200);
  margin-bottom: 10px;
}
.cookie-container .cookie-text-container p {
  color: rgb(200, 200, 200);
}
.cookie-container .cookie-text-container p a {
  color: black;
  font-weight: bold;
}
.cookie-container .cookie-text-container p a:hover {
  border-bottom: 5px solid black;
}
.cookie-container .cookie-text-container p a:focus {
  border-bottom: 5px solid black;
}
.cookie-container .cookie-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.cookie-container .cookie-button-container button {
  background-color: green;
  color: rgb(200, 200, 200);
  width: 100px;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}
.cookie-container .cookie-button-container button:hover {
  background-color: darkgreen;
  color: whitesmoke;
}
.cookie-container .cookie-button-container button:focus {
  background-color: darkgreen;
  color: whitesmoke;
}

@media screen and (max-width: 700px) {
  .cookie-container {
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  .cookie-container .cookie-text-container {
    margin-bottom: 60px;
  }
  .cookie-container .cookie-button-container {
    width: 80%;
  }
  .cookie-container .cookie-button-container button {
    margin-bottom: 20px;
    width: 100%;
  }
}
.recipe-discription .recipe-header {
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 60px;
}
.recipe-discription .recipe-header h2 {
  background-color: green;
  margin-bottom: 40px;
  font-size: max(3vw, 30px);
}
.recipe-discription .recipe-main {
  display: grid;
  grid-template-areas: "a b" "d d" "c c";
  margin-left: calc((100% - 500px - 100px - 255px) / 2);
  margin-right: calc((100% - 500px - 100px - 255px) / 2);
}
.recipe-discription .recipe-main .recipe-video-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  grid-area: a;
  margin-right: 100px;
}
.recipe-discription .recipe-main .recipe-video-text iframe {
  width: 500px;
  height: 281.25px;
  margin-bottom: 40px;
}
.recipe-discription .recipe-main .recipe-video-text p {
  white-space: pre-line;
}
.recipe-discription .recipe-main .recipe-ingredients-container {
  width: 255px;
  grid-area: b;
}
.recipe-discription .recipe-main .recipe-ingredients-container .recipe-ingredients {
  position: sticky;
  top: 200px;
}
.recipe-discription .recipe-main .recipe-ingredients-container .recipe-ingredients ul {
  display: grid;
  grid-template-columns: auto;
}
.recipe-discription .recipe-main .recipe-ingredients-container .recipe-ingredients ul .ingredient {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}
.recipe-discription .recipe-main .recipe-ingredients-container .recipe-ingredients .decoration {
  clip-path: ellipse(50% 70% at 50% 80%);
  width: 255px;
  height: 10px;
  background-color: rgb(80, 80, 80);
}
.recipe-discription .recipe-main .read-more {
  font-size: max(2vw, 22px);
  text-align: center;
  box-shadow: 0 0 10px black;
  margin-bottom: 20px;
  grid-area: c;
  cursor: pointer;
  border-radius: 10px;
}
.recipe-discription .recipe-main .read-more:focus {
  box-shadow: 0 0 20px black;
}
.recipe-discription .recipe-main .hide-text {
  max-height: 200px;
  overflow: hidden;
}
.recipe-discription .recipe-main .hide-ingredients {
  max-height: 200px;
  overflow: hidden;
}
.recipe-discription .recipe-main .hide-comments {
  display: none;
  height: 0;
}
.recipe-discription .recipe-main .comment-section {
  margin-top: 40px;
  grid-area: d;
}
.recipe-discription .recipe-main .comment-section h3 {
  font-size: 18px;
}
.recipe-discription .recipe-main .comment-section .comment-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.recipe-discription .recipe-main .comment-section .comment-form p {
  width: 60%;
  max-width: 600px;
  min-height: 100px;
  font-size: 14px;
  border: 1px solid gray;
  border-radius: 8px;
  margin: 20px 0;
  padding: 10px;
  overflow-wrap: break-word;
}
.recipe-discription .recipe-main .comment-section .comment-form input {
  width: 60%;
  max-width: 600px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid green;
  border-radius: 5px;
  background-color: white;
}
.recipe-discription .recipe-main .comment-section .comment-form input:hover {
  background-color: green;
  color: whitesmoke;
}
.recipe-discription .recipe-main .comment-section .comment-form input:focus {
  background-color: green;
  color: whitesmoke;
}
.recipe-discription .recipe-main .comment-section .comment-form p:focus {
  border: 1px solid black;
}
.recipe-discription .recipe-main .comment-section .comment-container-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipe-discription .recipe-main .comment-section .comment-container-container .comment-conatiner {
  margin-bottom: 40px;
  width: 60%;
  max-width: 600px;
  padding: 18px;
  background-color: rgb(139, 139, 139);
  border-radius: 15px;
}
.recipe-discription .recipe-main .comment-section .comment-container-container .comment-conatiner .author-of-comment {
  font-size: 14px;
  margin-bottom: 8px;
  color: whitesmoke;
}
.recipe-discription .recipe-main .comment-section .comment-container-container .comment-conatiner .comment {
  font-size: 16px;
  margin-bottom: 8px;
  color: whitesmoke;
}
.recipe-discription .recipe-main .comment-section .comment-container-container .comment-conatiner .button-conatiner {
  display: flex;
  justify-content: space-between;
}
.recipe-discription .recipe-main .comment-section .comment-container-container .comment-conatiner .edit {
  font-size: 14px;
  background-color: rgb(139, 139, 139);
  color: whitesmoke;
  cursor: pointer;
}
.recipe-discription .recipe-main .comment-section .comment-container-container .comment-conatiner .edit:focus {
  border-bottom: 1px solid whitesmoke;
}
.recipe-discription .recipe-main .comment-section .comment-container-container .comment-conatiner form {
  display: flex;
  flex-direction: column;
}
.recipe-discription .recipe-main .comment-section .comment-container-container .comment-conatiner form p {
  max-width: 564px;
  color: rgb(201, 201, 201);
  padding: 10px;
  margin-bottom: 8px;
}
.recipe-discription .recipe-main .comment-section .comment-container-container .comment-conatiner form input {
  background-color: rgb(139, 139, 139);
  color: whitesmoke;
  align-self: flex-end;
  cursor: pointer;
}
.recipe-discription .recipe-main .comment-section .comment-container-container .comment-conatiner form p:focus {
  color: whitesmoke;
}
.recipe-discription .recipe-main .comment-section .comment-container-container .comment-conatiner form input:focus {
  border-bottom: 1px solid whitesmoke;
}

.another-recipes {
  margin: 80px 0;
}
.another-recipes h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: max(2.5vw, 25px);
}

@media screen and (max-width: 1000px) {
  .recipe-discription .recipe-header {
    height: 400px;
  }
  .recipe-discription .recipe-main {
    grid-template-areas: "a" "b" "d" "c";
    margin-left: calc((100% - 500px) / 2);
    margin-right: calc((100% - 500px) / 2);
  }
  .recipe-discription .recipe-main .recipe-video-text {
    margin-right: 0;
  }
  .recipe-discription .recipe-main .recipe-ingredients-container {
    margin-top: 60px;
    width: 500px;
  }
  .recipe-discription .recipe-main .recipe-ingredients-container .recipe-ingredients {
    position: static;
  }
  .recipe-discription .recipe-main .recipe-ingredients-container .recipe-ingredients .decoration {
    width: 500px;
  }
  .recipe-discription .recipe-main .hide-text {
    max-height: 400px;
  }
  .recipe-discription .recipe-main .hide-ingredients {
    height: 0;
  }
  .recipe-discription .recipe-main .comment-section .comment-form p {
    width: 100%;
    max-width: 450px;
  }
  .recipe-discription .recipe-main .comment-section .comment-form input {
    width: 100%;
    max-width: 450px;
  }
  .recipe-discription .recipe-main .comment-container-container .comment-conatiner {
    width: 100%;
    max-width: 450px;
  }
  .recipe-discription .recipe-main .comment-container-container .comment-conatiner form p {
    max-width: 414px;
  }
}
@media screen and (max-width: 520px) {
  .recipe-discription .recipe-header {
    height: 300px;
  }
  .recipe-discription .recipe-main {
    margin-left: 10px;
    margin-right: 10px;
  }
  .recipe-discription .recipe-main .recipe-video-text {
    width: 100%;
  }
  .recipe-discription .recipe-main .recipe-video-text iframe {
    width: 100%;
    height: calc(0.5625 * (100vw - 20px));
  }
  .recipe-discription .recipe-main .recipe-ingredients-container {
    width: 100%;
  }
  .recipe-discription .recipe-main .recipe-ingredients-container .recipe-ingredients .decoration {
    width: 100%;
  }
}
@media screen and (max-width: 490px) {
  .recipe-discription .recipe-main .comment-section .comment-form p {
    max-width: 300px;
  }
  .recipe-discription .recipe-main .comment-section .comment-form input {
    max-width: 300px;
  }
  .recipe-discription .recipe-main .comment-section .comment-conatiner {
    width: 100%;
    max-width: 450px;
  }
  .recipe-discription .recipe-main .comment-section .comment-conatiner form p {
    max-width: 264px;
  }
}
.sign-container {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.sign-container .form-container {
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  width: 500px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign-container .form-container h2 {
  font-size: 25px;
  margin: 20px 0;
}
.sign-container .form-container .error {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 400px;
}
.sign-container .form-container .error div {
  color: red;
  font-size: 16px;
}
.sign-container .form-container .submit-ok {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 400px;
}
.sign-container .form-container .submit-ok div {
  color: green;
  font-size: 16px;
}
.sign-container .form-container form {
  display: flex;
  flex-direction: column;
}
.sign-container .form-container form .name-conatiner input {
  border: 1px solid black;
  width: 400px;
  height: 40px;
  margin-bottom: 20px;
  font-size: 18px;
  border-radius: 5px;
  padding-left: 10px;
}
.sign-container .form-container form .name-conatiner input:focus {
  box-shadow: 0 0 5px green;
}
.sign-container .form-container form .email-conatiner input {
  border: 1px solid black;
  width: 400px;
  height: 40px;
  margin-bottom: 20px;
  font-size: 18px;
  border-radius: 5px;
  padding-left: 10px;
}
.sign-container .form-container form .email-conatiner input:focus {
  box-shadow: 0 0 5px green;
}
.sign-container .form-container form .password-container input {
  border: 1px solid black;
  width: 400px;
  height: 40px;
  margin-bottom: 20px;
  font-size: 18px;
  border-radius: 5px;
  padding-left: 10px;
}
.sign-container .form-container form .password-container input:focus {
  box-shadow: 0 0 5px green;
}
.sign-container .form-container form .checkbox-container {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}
.sign-container .form-container form .checkbox-container input {
  margin-right: 20px;
}
.sign-container .form-container form .checkbox-container input:focus {
  box-shadow: 0 0 5px green;
}
.sign-container .form-container form .checkbox-container abbr {
  margin-left: 5px;
  color: red;
}
.sign-container .form-container form .checkbox-description {
  margin-left: 33px;
  margin-bottom: 20px;
  display: inline-block;
  width: 200px;
}
.sign-container .form-container form .checkbox-description a {
  font-weight: bold;
}
.sign-container .form-container form .checkbox-description a:focus {
  border-bottom: 1px solid green;
}
.sign-container .form-container form .submit {
  border: 1px solid green;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 40px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
.sign-container .form-container form .submit:hover {
  background-color: green;
  color: whitesmoke;
}
.sign-container .form-container form .submit:focus {
  background-color: green;
  color: whitesmoke;
}
.sign-container .form-container .signin-signun-forgotpassword {
  margin-bottom: 10px;
}
.sign-container .form-container .signin-signun-forgotpassword a {
  font-weight: bold;
}
.sign-container .form-container .signin-signun-forgotpassword a:focus {
  border-bottom: 1px solid green;
}

@media screen and (max-width: 520px) {
  .sign-container .form-container {
    width: 100vw;
  }
  .sign-container .form-container .error {
    width: 90vw;
  }
  .sign-container .form-container form {
    width: 90vw;
  }
  .sign-container .form-container form .name-conatiner input {
    width: 90vw;
  }
  .sign-container .form-container form .email-conatiner input {
    width: 90vw;
  }
  .sign-container .form-container form .password-container input {
    width: 90vw;
  }
}
/***************************************************************************************************
home.tsx and search.tsx
***************************************************************************************************/
.search-section {
  padding: 120px 0;
  background-image: url("../img/search_background2.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 60px;
  overflow: hidden;
}
.search-section .form-h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-section .form-h2 h2 {
  font-size: max(2.5vw, 35px);
  position: relative;
  top: calc(-30px - 2vw);
  color: rgb(200, 200, 200);
  display: inline-block;
  width: 400px;
  text-align: center;
}
.search-section .form-h2 div {
  clip-path: ellipse(50% 70% at 50% 50%);
  width: 600px;
  height: 20px;
  background-color: rgb(80, 80, 80);
}
.search-section form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.search-section form .name-search {
  border: none;
  display: inline-block;
  width: 50vw;
  max-width: 600px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  padding-left: 20px;
}
.search-section form .name-search:focus-visible {
  outline: none;
}
.search-section form .submit {
  border: none;
  border-radius: 0 5px 5px 0;
  height: 40px;
  background-color: lightgray;
  padding: 5px;
}
.search-section form .submit:focus {
  background-color: whitesmoke;
}
.search-section form .submit:hover {
  background-color: whitesmoke;
}

/************************************************************************************************
recipe list card
************************************************************************************************/
.recipes-container-header {
  text-align: center;
  font-size: max(2.5vw, 30px);
  margin: 30px 0;
}

#recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 5vw;
}
#recipes-container .recipe-item {
  background-color: rgb(180, 224, 178);
  border-radius: 5px;
  width: 380px;
  height: 650px;
  margin: 0 20px;
  margin-bottom: 20px;
}
#recipes-container .recipe-item img {
  border-radius: 5px 5px 0 0;
  width: 380px;
  height: 380px;
  margin-bottom: 20px;
}
#recipes-container .recipe-item h3 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
#recipes-container .recipe-item .link-text-container p {
  font-size: 18px;
  text-align: center;
}
#recipes-container .recipe-item .link-text-container .link-text-shadow {
  width: 50%;
  height: 19px;
  position: relative;
  top: -19px;
  left: 50%;
  background: linear-gradient(0.25turn, rgba(180, 224, 178, 0.5), rgb(180, 224, 178), rgb(180, 224, 178));
}
#recipes-container .recipe-item:focus {
  box-shadow: 0 0 8px green;
}
#recipes-container .recipe-item:hover {
  box-shadow: 0 0 8px green;
}

.loading-content {
  text-align: center;
  padding: 20px;
  font-size: 40px;
  font-weight: bold;
}

/************************************************************************************************
scrollbar
************************************************************************************************/
@-moz-document url-prefix() {
  html {
    scrollbar-width: thin;
    scrollbar-color: black gray;
  }
}
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

@media screen and (max-width: 1020px) {
  ::-webkit-scrollbar {
    width: 0;
  }
  @-moz-document url-prefix() {
    html {
      scrollbar-width: none;
    }
  }
}
/****************************************************************************************************
responsive desing
****************************************************************************************************/
@media screen and (max-width: 1000px) {
  .search-section .form-h2 h2 {
    top: -60px;
  }
  #recipes-container {
    margin-left: 50px;
    margin-right: 50px;
  }
  #recipes-container .recipe-item {
    width: 38vw;
    height: 65vw;
  }
  #recipes-container .recipe-item img {
    width: 38vw;
    height: 38vw;
  }
  #recipes-container .recipe-item h3 {
    font-size: 3vw;
  }
  #recipes-container .recipe-item .link-text-container p {
    font-size: 1.8vw;
  }
}
@media screen and (max-width: 821px) {
  #recipes-container {
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media screen and (max-width: 700px) {
  #recipes-container {
    margin-left: 9vw;
    margin-right: 9vw;
  }
  #recipes-container .recipe-item {
    width: 80vw;
    height: 136.5vw;
  }
  #recipes-container .recipe-item img {
    width: 80vw;
    height: 80vw;
  }
  #recipes-container .recipe-item h3 {
    font-size: 6vw;
  }
  #recipes-container .recipe-item .link-text-container p {
    font-size: 5vw;
    margin-left: 10px;
    margin-right: 10px;
  }
  #recipes-container .recipe-item .link-text-container .link-text-shadow {
    height: 5.2777777778vw;
    top: -5.2777777778vw;
  }
}

/*# sourceMappingURL=index.css.map */
